*{
    margin: 0;
    padding: 0;
}
.div{
    width: 400px;
    height: 400px;
    margin: 15px 50px;
    border:2px solid rgb(235, 248, 46);
    background-color: blue;
    transition-duration: 2s;



    transition: all 2s ease-in 1s;

}
div:hover{
    width:10px;
    height:20px;
}